<div class="product-price">
  {% if product.compare_at_price > product.price %}
  <p class="float-left">

    <!-- ???  -->
    {% if product.price_varies %}
    {%- assign sale_price = product.price | money -%}
    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}

    <!-- Else, print discount label and current price when there's a discount  -->
    {% else %}

    <!-- "With discount" text >
    {{ 'products.product.on_sale' | t }} -->

    <!-- Price -->
    {{ product.price | money }}

  </p>
  {% endif %}

  {% else %}
  <p class="float-left">

    <!-- Prints the product's price when there's no discount -->
    {% if product.price_varies %}
    {%- assign price = product.price | money -%}
    {{ 'products.product.from_text_html' | t: price: price }}
    {% else %}
    {{ product.price | money }}
    {% endif %}

  </p>
  {% endif %}

  <!-- Prints strikethrough price and an unavailability label -->
  {% if product.compare_at_price > product.price %}
  <p class="float-right">

    <!-- "Original Price" Label >
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            
    <!-- Original price without the discount -->
    <s>{{ product.compare_at_price | money }}</s>
  </p>
  {% endif %}

  <!-- "Sold out" Text -->
  {% unless product.available %}
  <br/><br/>
  <p class="text-danger float-right">
    {{ 'products.product.sold_out' | t }}
  </p>
  {% endunless %}
  </p>
</div>