<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Bootstrap,  & Fonts' Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- CSS styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">

    <!-- To reference CSS that has been uploaded throught the terminal (with theme watch), their file extension must be .css.liquid  and use this format -->
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'Background-Overlay.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'Footer-Dark.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'Highlight-Clean.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'Pretty-Carousel.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'smoothproducts.css' | asset_url }}">

    <!-- Favicon -->
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    <!-- SEO -->
    {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    <!-- Default Themekit CSS ??? -->
    {% include 'css-variables' %}

    <!-- Shop money Format and Cart -->
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
  
      window.theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      };
    </script>

    <!-- Shopify CSS -->
    {{ content_for_header }}

    <!-- Arab guy's CSS -->
    {{ 'app.css' | asset_url | stylesheet_tag }} -->
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

    <a class="in-page-link sr-only" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    <!-- Bootstrap Navbar, to modify head to "Snippets\navbar.liquid" -->
    {% section 'header' %}
    
    <!-- Index's Dynamic UI Content, to modify, head to shopify's customization of your store and edit it from the web app -->
    <main style="margin-top:30px;">
        <!-- Note to self: you must define a container at the beginning of each section since there is none used here -->
        {{ content_for_layout }}
    </main>

    <!-- Bootstrap Footer with social media icons -->
    {% section 'footer' %}
    
    <!-- The (free shipping) Small Banner Section -->
    {% section 'small-banner' %}

    <!-- Bootstrap Footer with secure payments' photos -->
    {% section 'unmodifiable-footer' %}

    <!-- Arab guy's JS with the cart functions -->
    {{ 'app.js' | asset_url | script_tag }}

    <!-- Javascript Files -->
    <script src="{{ 'bs-init.js' | asset_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ 'Pretty-Carousel.js' | asset_url }}"></script>
    <script src="{{ 'smoothproducts.js' | asset_url }}"></script>
    <script src="{{ 'theme.js' | asset_url }}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </body>

</html>