{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}

{% if section.settings.title != blank %}
  <h2 class="collection-list__title" style="margin-top: 50px; margin-bottom: 50px;">{{ section.settings.title | escape }}</h2>
{% endif %}

<div class="row">
  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}

    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4" style="margin-top: 20px; margin-bottom: 40px;">
        <!-- Collection Image -->
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        
        {% if collection.image != blank or collection.products.first != blank %}

          <div class="image">
            <a href="{{ collection.url | default: "#" }}">
              <img class="img-fluid d-block mx-auto" src="{{ collection.products.first.featured_image | img_url: '1160x' }}" alt="{{ product.featured_image.alt | escape }}">
            </a>
          </div>
          
        {% elsif collection == empty %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        {% endif %}
        
        <!-- Collection Title -->
        <div class="product-name text-center" style="color: rgb(0,0,0); margin-top: 25px;" class="anone">
          <a href="{{ collection.url | default: "#" }}">
            {{ collection.title | default: default_label }}
          </a>
        </div>
    </div>

  {% endfor %}
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}



<!--section class="collection-list">
  {% if section.settings.title != blank %}
    <h2 class="collection-list__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}

    <a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
      {% if collection.image != blank or collection.products.first != blank %}
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        <div class="collection-list__image">
          {% include 'responsive-image' with
            image: image_object,
            max_width: 480,
            max_height: 480
          %}
        </div>
      {% elsif collection == empty %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}

      {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
      <p>{{ collection.title | default: default_label }}</p>
    </a>
  {% endfor %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</section-->



{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
