{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available in the "Featured Collection" section in the theme editor.

Theme Store required settings
- Collection

Theme Store optional settings
- Heading: title of the featured collection section
{%- endcomment -%}

<section class="featured-collection">

  {%- assign collection = collections[section.settings.collection] -%}

  <!-- Catalog -->
  <div class="page catalog-page">
    <section class="clean-block clean-catalog dark">
      <div class="container">

        <!-- Title -->
        {% if section.settings.title != blank %}
          <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
        {% endif %}

        <!-- Products -->
        <div class="content">
          <div class="row no-gutters">
            
            {% for product in collection.products limit: 6 %}

              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 offset-sm-1 offset-md-1 offset-lg-1"
                style="margin-top: 20px; margin-bottom: 40px;">
                <div class="clean-product-item">

                  <!-- Product Image -->
                  <div class="image">
                    <a href="{{ product.url | within: collection }}">
                      <img class="img-fluid d-block mx-auto" src="{{ product.featured_image | img_url: '1160x' }}"
                        alt="{{ product.featured_image.alt | escape }}">
                    </a>
                  </div>

                  <!-- Product Title -->
                  <div class="product-name text-center" style="color: rgb(0,0,0);" class="anone">
                    <a href="{{ product.url | within: collection }}" class="anone text-primary">
                      {{ product.title | escape }}
                    </a>
                  </div>

                  <!-- Product Dimensions -->
                  <div class="product-name text-center">
                    <a href="{{ product.url | within: collection }}" style="color: rgb(143, 140, 140); font-size: 14px;"
                      class="anone">
                      2.95m x 1.70m x 61cm
                    </a>
                  </div>

                  <!-- Script to Fix the dimensions' paragraph -->
                  <script>
                    $("");
                    
                    // 1. Iterate the "Product Title's ID." 
                    // 2. Modify the <a> element's dimensions with Jquery   https://stackoverflow.com/questions/5095000/jquery-remove-string-from-string
                    // https://www.tutorialrepublic.com/faq/how-to-find-substring-between-the-two-words-using-jquery.php
                    // 3. Print those dimensions in the next <a> element with an iterated ID  
                  </script>

                  <!-- Price & Buy Button-->
                  <div class="about" style="margin-top: 25px;">
                    <div class="price" style="float:left;">
                      <h3>
                        {{ product.price | money }}
                      </h3>
                    </div>
                    
                    <!-- Add to Cart Button + an invisible variant selector -->
                    <form action="/cart/add" method="post" enctype="multipart/form-data">
                      {% unless product.has_only_default_variant %}
                        {% for option in product.options_with_values %}
                          <div class="selector-wrapper js">
                            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                              {{ option.name }}
                            </label>
                
                            <select
                              id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}"
                              data-single-option-selector
                              data-index="option{{ option.position }}">
                              {% for value in option.values %}
                                <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                                    {{ value }}
                                </option>
                              {% endfor %}
                            </select>
                          </div>
                        {% endfor %}
                      {% endunless %}
                
                      <select name="id" class="no-js" data-product-select style="display: none;">
                        {% for variant in product.variants %}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                            {% unless variant.available %}disabled="disabled"{% endunless %}
                            value="{{ variant.id }}">
                              {{ variant.title }}
                          </option>
                        {% endfor %}
                      </select>
                
                      <button
                        class="btn btn-primary float-right"
                        type="submit"
                        name="add"
                        data-add-to-cart
                        {% unless product.available %}disabled="disabled"{% endunless %}
                        {% if section_onboarding %}disabled="disabled"{% endif %}>
                          <span data-add-to-cart-text>
                            {% if product.available %}
                              <i class="fas fa-shopping-cart"></i>
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </span>
                      </button>
                    </form>

                  </div>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>
      </div>
    </section>
  </div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
