<section data-section-id="{{ section.id }}" data-section-type="product">
  
  <div class="container">
    <div class="row">

        <!-- Start: Pretty Carousel Fade + TouchSwipe -->
        <div class="col-md-6" style="margin-top: 40px;">
          {%- assign current_variant = product.selected_or_first_available_variant -%}
          {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
          
          <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel1">
            <div class="carousel-inner" role="listbox">
                
                {% if product.images.size > 1 %}
                  {% for image in product.images limit:3 %}

                    <!-- First time through the for, you must set the first carousel item as active -->
                    {% if forloop.first == true %}
                      <div class="carousel-item active">
                        <img class="w-100 d-block" src="{{ image.src | img_url: '480x480' }}" alt="{{ image.alt | escape }}">
                        <div class="carousel-caption">
                          <h3>Obnoxiae retinere </h3>
                          <p>Populatam populatam expresse ei ad </p>
                        </div>
                      </div>

                    <!-- After that, you must set the other carousel items without the active class-->
                    {% else %}
                      <div class="carousel-item">
                        <img class="w-100 d-block" src="{{ image.src | img_url: '480x480' }}" alt="{{ image.alt | escape }}">
                        <div class="carousel-caption">
                          <h3>Obnoxiae retinere </h3>
                          <p>Populatam populatam expresse ei ad </p>
                        </div>
                      </div>
                    {% endif %}
                    
                  {% endfor %}
                {% endif %}

            </div>

            <!-- Arrow Buttons -->
            <div style="color:black">
                <!-- Previous -->
                <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"><i class="icon-arrow-left" style="color:black"></i><span class="sr-only">Previous</span></a>
                
                <!-- Next -->
                <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"><i class="icon-arrow-right" style="color:black"></i><span class="sr-only">Next</span></a>
            </div>

            <!-- Lower Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active" style="color:black"></li>
                <li data-target="#carousel1" data-slide-to="1" style="color:black"></li>
                <li data-target="#carousel1" data-slide-to="2" style="color:black"></li>
            </ol>
          </div>
        </div>
        <!-- End: Pretty Carousel Fade + TouchSwipe -->

        <!-- Start: Product's Information/Content -->
        <div class="col-md-6" style="margin-top: 40px;">
            
            <!-- Title -->
            <h1 class="product-names">{{ product.title }}</h1>
           
            <!-- Price Comparison -->
            <div data-price-wrapper class="my-2 text-left" style="padding-top: 10px;">
              
                <!-- Current Price -->
                <p data-product-price style="font-size:22.5px; font-weight: 450;">
                  {{ current_variant.price | money }}
                </p>
          
                <!-- Strikethrough Price -->
                {% if product.compare_at_price_max > product.price %}
                  <p class="text-secondary" style="font-weight: 300;">
                    <!-- Label "Precio habitual" >
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span-->
                    
                    <!-- Original price strikedthrough -->
                    <s data-compare-price>
                      {% if current_variant.compare_at_price > current_variant.price %}
                        {{ current_variant.compare_at_price | money }}
                      {% endif %}
                    </s>
                  </p>
                {% endif %}
            </div>

            <!-- Deferred payments' label -->
            <p class="text-right font-italic" style="color:#1f1f1f;">* Hasta 12 meses sin intereses</p>
             
            <!-- Snippet in case you have product variants -->
            {% include 'product-form' %}

            <!-- Description -->
            <div>
              <!--h5 style="margin-top: 35px;">
                Descripción
              </h5-->

              <div class="rte" style="padding-top: 10px;">
                {{ product.description }}
              </div>
            </div>
            
            <br/>
            
            {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
            
        </div> <!-- / col -->
    </div> <!-- / row -->
  </div>


</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
